$avenir-next: 'Avenir Next', sans-serif;
$lato: 'Lato', sans-serif;

$background-color-1: #f8f9fc;
$background-color-2: #ffffff;
$background-color-3: #e1edfa;

$border-color-1: #dfe1e4;
$border-color-2: #ccd2da;

$blue-color-1: #086dd6;
$blue-color-2: #0e5cc9;

$gray-color-1: #63666b;
